.hot-or-cold {
  text-align: center;
}

.hot-or-cold li {
  list-style: none;
}

.hot-or-cold header {
  padding: 20px;
  color: white;
}

.hot-or-cold nav {
  width: 100%;
}

.hot-or-cold nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hot-or-cold nav li {
  text-align: left;
}

.entry-form {
  background-color: grey;
  padding: 20px;
}

.entry-form input,
.entry-form button {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 5px 0;
}

.entry-form button {
  margin-top: 20px;
  margin-bottom: 0px;
}

.entry-form input {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.temperature {
  background-color: red;
  height: 50px;
}

.temperature p {
  line-height: 50px;
  font-weight: bold;
  font-size: 24px;
}

.HOC-game {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.number-of-guesses {
  background-color: lightgrey;
  height: 30px;
}

.number-of-guesses p {
  line-height: 30px;
}

.number-of-guesses em {
  font-style: normal;
  font-size: larger;
  font-weight: bold;
}

.guess {
  background-color: teal;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: white;
}

.guess-list {
  background-color: yellow;
  padding: 20px 0;
}
